.course_admin {
  width: 410px;
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  box-shadow: $Box-shadow1;
  transition: 0.4s;
  cursor: pointer;
  position: relative;

  .image {
    transform: translate(-20px, -20px);
    overflow: hidden;
    width: 410px;
    height: 250px;

    img {
      height: 250px;
      width: 410px;
      border-radius: 20px;
    }

    .option {
      display: flex;
      justify-content: space-between;
      background-color: $Primary;
      padding: 10px;
      width: 410px;
      transition: 0.4s;

      .desc {
        font-size: 2rem;
        padding: 5px 10px;
        color: $White;

        &:hover {
          border-radius: 10px;
          background-color: white;
          color: $Primary;
          font-weight: 500;
        }

        &:active {
          transform: scale(0.97);
        }
      }
    }
  }

  .desc {
    @include desc_gray;
  }

  .content {
    .desc span {
      @include desc_black;
    }

    .title_h4 {
      @include title_h4;
      margin-top: 12px;
    }

    .info {
      display: flex;
      gap: 24px;
      align-items: center;
      margin-top: 16px;

      .item {
        display: flex;
        align-items: center;
        gap: 8px;

        .icon {
          color: $Primary;
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 32px;

      .price {
        display: flex;
        align-items: center;
        gap: 8px;

        .old {
          @include desc_gray;
        }

        .old.sale {
          text-decoration: line-through;
        }

        .new {
          @include desc_black;
        }

        .new.free {
          color: green;
        }
      }

      .view_course {
        font-weight: 600;
        cursor: pointer;
        font-size: 20px;

        &:hover {
          color: $Primary;
        }

        &:active {
          transform: scale(0.97);
        }
      }
    }
  }

  &:hover {
    .image {
      .option {
        transform: translateY(-62px);
      }
    }
  }

  .choose {
    position: absolute;
    top: 10px;
    right: 10px;

    input {
      width: 20px;
      height: 20px;
    }
  }
}
