.scroll_to_top {
  z-index: 1000;
  position: fixed;
  bottom: 40px;
  right: 20px;
  .btn_primary {
    @include btn_primary;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    i {
      font-size: 30px;
    }
  }
}
