.list_comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;

  .comment {
    border-bottom: 3px solid #ccc;
    padding-bottom: 20px;
    .desc {
      @include desc_gray;
    }
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      .title_h5 {
        @include title_h5;
      }
    }

    .content {
      @include desc_gray;
      padding-left: 20px;
    }

    .bottom {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      float: right;
      cursor: pointer;

      &:hover {
        color: $Primary;

        .desc {
          color: $Primary;
        }
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }

  .write_comment {
    .title_h5 {
      @include title_h5;
    }
    textarea {
      width: 100%;
      overflow: hidden;
      resize: none;
      border: none;
      border-bottom: 2px solid #ccc;
      padding: 10px;
      outline: none;

      &:focus {
        // border: none;
        border-bottom: 2px solid #000;
      }
    }

    .bottom {
      .btn_confirm {
        padding: 4px 15px;
        @include desc_gray;
        color: #ccc;
        font-size: 1.6rem;
        border-radius: 25px;
        float: right;
        margin-top: 10px;
      }

      .btn_confirm.active {
        background-color: $Primary;
        color: white;

        &:active {
          transform: scale(0.97);
        }
      }
    }
  }
}
