.change_password {
  border-left: 1px solid #ccc;
  padding-left: 20px;
  position: relative;
  .desc {
    @include desc_gray;
  }

  .item_input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;

    input {
      border: 1px solid #ccc;
      width: 500px;
      margin-top: -20px;
      padding: 5px 10px;
      border-radius: 10px;
    }

    .error {
      color: red;
      font-size: 1.6rem;
      margin-top: -13px;
      font-style: italic;
    }
  }
  .btn_primary {
    @include btn_primary;
    float: inline-end;
  }

  .alert {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $Dark_gray;
    gap: 10px;
    border-radius: 20px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;

    .desc {
      color: white;
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
    }
  }
}
